.background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("../../src/assets/images/background.png") no-repeat center
		center;
	background-size: cover;
	z-index: -1;
}

.Wheel {
	width: 100%;
	height: 100%;
	background: url("../../src/assets/images/wheel.png") no-repeat center;
	margin-top: 200px;
	z-index: 1;
	transform-origin: center;
	transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.Wheel.spinning {
	animation: spin 0.3s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spin-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-top: 100px;
	transform: translate(-35%, -50%);
	background: url("../../src/assets/images/arrow.png") no-repeat center;
	z-index: 2;
}

.spin-btn:active {
	transform: translate(-35%, -50%) scale(1.1);
}

.BackBtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.05);
	border: 5px solid rgba(255, 255, 255, 0.8);
	-webkit-text-stroke: 0.5px rgb(12, 27, 114);
	text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 20px;
	box-shadow: 0 0 20px #ffffff;
	border-radius: 10px;
}
